<a href="https://colab.research.google.com/github/Zerowl7/SQL_testing/blob/main/02_SQLite.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Соединение

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
import sqlite3

In [3]:
path = "./drive/My Drive/databases/mydatabase.db"

In [4]:
conn = sqlite3.connect(path)

# Создание таблицы

In [5]:
# Создаем объект типа cursor для доступа к данным
cursor = conn.cursor()
# Создание простейшей таблицы, все поля (столбцы) которой имеют тип text
cursor.execute("CREATE TABLE albums (title text, artist text, release_date text, publisher text, media_type text)")


# Подтверждаем изменения (обязательно)
conn.commit()
# Закрываем курсор
cursor.close()
# Закрываем соединение (рекомендуется)
conn.close()

# Заполнение данных

In [6]:
conn = sqlite3.connect(path)
cursor = conn.cursor()

sql  = "INSERT INTO albums VALUES (?, ?, ?, ?, ?)"
val1 = ("The Serpen't Egg", "Dead Can Dance", "1988", "4AD", "CD")
val2 = ("Everyday Is Christmas", "SIA", "2017", "Atlantic", "CD")


cursor.execute(sql, val1)
cursor.execute(sql, val2)

conn.commit()
cursor.close()
conn.close()

# Написание запроса

In [7]:
conn = sqlite3.connect(path)
cursor = conn.cursor()

sql  = "SELECT artist, title, release_date from albums"
cursor.execute(sql)

for i in cursor:
    print(i)

cursor.close()
conn.close()

('Dead Can Dance', "The Serpen't Egg", '1988')
('SIA', 'Everyday Is Christmas', '2017')

## Добавляем наглядность с помощью pandas

In [8]:
import pandas as pd

In [9]:
conn = sqlite3.connect(path)
cursor = conn.cursor()

sql  = "SELECT artist, title, release_date from albums"
cursor.execute(sql)

# Загружаем все результаты в список списков rows 
rows = cursor.fetchall()
cursor.close()
conn.close()

In [10]:
pd.DataFrame( rows, columns=('Исполнитель', 'Альбом', 'Год') )

      Исполнитель                 Альбом   Год
0  Dead Can Dance       The Serpen't Egg  1988
1             SIA  Everyday Is Christmas  2017